<section class="grid md:place-content-stretch md:grid-cols-[35%_auto] md:px-0">

    <div class="md:bg-secondary md:min-h-[28.18rem] pt-[5.30rem] md:pr-[2rem] px-[1rem]">
       
        <h3 class="text-third font-[700] md:text-right uppercase">perfis</h3>
        <p class="text-primary font-[300] md:text-right">Alguns dos meus perfis.</p>
        
    </div>


    <div class="md:bg-primary pt-[2rem] md:pb-[7.70rem] md:pt-[5.30rem] md:pl-[2rem] px-[1rem]">

        <div class="grid grid-cols-2 gap-[2rem] md:gap-[4.38rem] max-w-[39.25rem]">

            <div>
                <a href="https://www.behance.net/caioaugustodesign/" target="_blank" rel="noopener noreferrer">
                    
                    <button>
                        <div class="flex items-center gap-[1.25rem]">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-[2rem] h-[2rem] fill-primary" viewBox="0 0 256 256"><path d="M160,80a8,8,0,0,1,8-8h64a8,8,0,0,1,0,16H168A8,8,0,0,1,160,80Zm-24,78a42,42,0,0,1-42,42H32a8,8,0,0,1-8-8V64a8,8,0,0,1,8-8H90a38,38,0,0,1,25.65,66A42,42,0,0,1,136,158ZM40,116H90a22,22,0,0,0,0-44H40Zm80,42a26,26,0,0,0-26-26H40v52H94A26,26,0,0,0,120,158Zm128-6a8,8,0,0,1-8,8H169a32,32,0,0,0,56.59,11.2,8,8,0,0,1,12.8,9.61A48,48,0,1,1,248,152Zm-17-8a32,32,0,0,0-62,0Z"></path></svg>
                            <p class="font-roboto font-[700] uppercase text-secondary">behance</p>
                        </div>
                    </button>
    

                </a>
            </div>

            <div>
                <a href="https://www.linkedin.com/in/caio-augusto-a40698203/" target="_blank" rel="noopener noreferrer">
                    
                    <button>
                        <div class="flex items-center gap-[1.25rem]">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-[2rem] h-[2rem] fill-primary"  viewBox="0 0 256 256"><path d="M216,24H40A16,16,0,0,0,24,40V216a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V40A16,16,0,0,0,216,24Zm0,192H40V40H216V216ZM96,112v64a8,8,0,0,1-16,0V112a8,8,0,0,1,16,0Zm88,28v36a8,8,0,0,1-16,0V140a20,20,0,0,0-40,0v36a8,8,0,0,1-16,0V112a8,8,0,0,1,15.79-1.78A36,36,0,0,1,184,140ZM100,84A12,12,0,1,1,88,72,12,12,0,0,1,100,84Z"></path></svg>
                            <p class="font-roboto font-[700] uppercase text-secondary">linkedin</p>
                        </div>
                    </button>
    

                </a>
            </div>

            <div>
                <a href="https://github.com/augustCaio" target="_blank" rel="noopener noreferrer">
                    
                    <button>
                        <div class="flex items-center gap-[1.25rem]">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-[2rem] h-[2rem] fill-primary" viewBox="0 0 256 256"><path d="M208.31,75.68A59.78,59.78,0,0,0,202.93,28,8,8,0,0,0,196,24a59.75,59.75,0,0,0-48,24H124A59.75,59.75,0,0,0,76,24a8,8,0,0,0-6.93,4,59.78,59.78,0,0,0-5.38,47.68A58.14,58.14,0,0,0,56,104v8a56.06,56.06,0,0,0,48.44,55.47A39.8,39.8,0,0,0,96,192v8H72a24,24,0,0,1-24-24A40,40,0,0,0,8,136a8,8,0,0,0,0,16,24,24,0,0,1,24,24,40,40,0,0,0,40,40H96v16a8,8,0,0,0,16,0V192a24,24,0,0,1,48,0v40a8,8,0,0,0,16,0V192a39.8,39.8,0,0,0-8.44-24.53A56.06,56.06,0,0,0,216,112v-8A58.14,58.14,0,0,0,208.31,75.68ZM200,112a40,40,0,0,1-40,40H112a40,40,0,0,1-40-40v-8a41.74,41.74,0,0,1,6.9-22.48A8,8,0,0,0,80,73.83a43.81,43.81,0,0,1,.79-33.58,43.88,43.88,0,0,1,32.32,20.06A8,8,0,0,0,119.82,64h32.35a8,8,0,0,0,6.74-3.69,43.87,43.87,0,0,1,32.32-20.06A43.81,43.81,0,0,1,192,73.83a8.09,8.09,0,0,0,1,7.65A41.72,41.72,0,0,1,200,104Z"></path></svg>
                            <p class="font-roboto font-[700] uppercase text-secondary">github</p>
                        </div>
                    </button>
    

                </a>
            </div>

            <div>
                <a href="https://www.instagram.com/augusto.caio.augusto/" target="_blank" rel="noopener noreferrer">
                    
                    <button>
                        <div class="flex items-center gap-[1.25rem]">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-[2rem] h-[2rem] fill-primary" viewBox="0 0 256 256"><path d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160ZM176,24H80A56.06,56.06,0,0,0,24,80v96a56.06,56.06,0,0,0,56,56h96a56.06,56.06,0,0,0,56-56V80A56.06,56.06,0,0,0,176,24Zm40,152a40,40,0,0,1-40,40H80a40,40,0,0,1-40-40V80A40,40,0,0,1,80,40h96a40,40,0,0,1,40,40ZM192,76a12,12,0,1,1-12-12A12,12,0,0,1,192,76Z"></path></svg>
                            <p class="font-roboto font-[700] uppercase text-secondary">instagram</p>
                        </div>
                    </button>
    

                </a>
            </div>

            <div>
                <a href="https://open.spotify.com/playlist/3OSjflzlWv6x0OTroMHDEd?si=d6c53528b1684a57" target="_blank" rel="noopener noreferrer">
                    
                    <button>
                        <div class="flex items-center gap-[1.25rem]">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-[2rem] h-[2rem] fill-primary" viewBox="0 0 256 256"><path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm31.07-46.26a8,8,0,0,1-10.81,3.33,42.79,42.79,0,0,0-40.52,0,8,8,0,0,1-7.48-14.14,59.33,59.33,0,0,1,55.48,0A8,8,0,0,1,159.07,169.74Zm32-56a8,8,0,0,1-10.83,3.29,110.62,110.62,0,0,0-104.46,0,8,8,0,0,1-7.54-14.12,126.67,126.67,0,0,1,119.54,0A8,8,0,0,1,191.06,113.76Zm-16,28a8,8,0,0,1-10.82,3.3,77,77,0,0,0-72.48,0,8,8,0,0,1-7.52-14.12,93,93,0,0,1,87.52,0A8,8,0,0,1,175.06,141.76Z"></path></svg>
                            <p class="font-roboto font-[700] uppercase text-secondary">spotify</p>
                        </div>
                    </button>
    

                </a>
            </div>


        </div>

    </div>

</section>